MYSQL_VER=8.0
MYSQL_NAME=mysql-local-host
MYSQL_PASSWORD=much_secure_such_wow
MYSQL_DIR=/home/myuser/mysql
DOCKER_IP=172.10.0.1
WEB_NAME=my-web-server
#ELASTICSEARCH CLUSTER
ES_CLUSTER_NAME=elastic-cluster
ES_STACK_VERSION=7.17.23
ES_PROTOCOL=http
#ELASTICSEARCH
ES_NAME=elasticsearch
ES_HOST=elasticsearch
ES_SECURITY=false
ES_USER=
ES_PASS=
ES_PORT=9200
ES_LIMIT_CPU=1
ES_LIMIT_MEM=1G
#KIBANA
KIB_NAME=kibana
KIB_PORT=5601
KIB_HOST=kibana
KIB_ENABLE_TLS=false
KIB_PASS=
